/* The navbar container */
.topnav {
    overflow: hidden;
    background-color: #ff8c00;
  }
  
  /* Navbar links */
  .topnav a {
    float: left;
    display: block;
    color: #894700;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Links - change color on hover */
  .topnav a:hover {
    background-color: #ffe9d2;
    color: #ffe9d2;
  }