/* De style van de header */
.header {
  background-color: #9fedd7;
  padding: 20px;
  text-align: center;
}

/* De style van de navigation bar */
.topnav {
  overflow: hidden;
  background-color: #FF6347;
  position: -webkit-sticky; /* De navigation bar blijft boven als je naar beneden scrollt*/
  position: sticky;
  top: 0;
}

/* De style van de tkest in de navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #fef9c7;
  text-align: center;
  padding: 14px 16px;
  text-decoration: underline;
  text-decoration-color: #fef9c7;
}

/* De style van de hover van de navigation bar */
.topnav a:hover {
  background-color: #fef9c7;
  color: #FF6347;
  text-decoration: underline;
  text-decoration-color: #FF6347;
}

/* De kleur van de tekst in de header */
h1 {
  color: #fef9c7;
  text-align: center;
}

/* De kleur van de tekst net onder de navigation bar*/
h2{
  color: #fef9c7;
  text-align: center;
  font-size: 40px;
}

h3{
  color: #fef9c7;
  text-align: center;
  font-size: 60px;
  border-width: 10px;
  border-color: #FF6347;
  border-style: double;
  margin-left: 250px;
  margin-right: 250px;
}

/* De kleur van de tekst */
p  {
  color: #fef9c7;
  font-size: 20px;
  padding: 20px;
  border-radius: 25px;
  background: #FF6347;
  width: auto;
  height: auto; 
  margin: 20px; 
  text-align: center;
}

/* De achtergrond kleur */
body{
  background-color: #D3D3D3;
}

/* Zorgt dat er geen ruimte tussen de rand en de navigation bar zit */
body {
  margin: 0;
}

/* De style van de navigation bar */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #FF6347;
  position: -webkit-sticky; /* De navigation bar blijft boven als je naar beneden scrollt */
  position: sticky;
  top: 0;
}

/* De tekst komt links in de naviagtion bar te staan*/
li {
  float: left;
}

/* De style van de tekst in de navigation bar*/
li a {
  display: block;
  color: #fef9c7;
  text-align: center;
  padding: 14px 16px;
  text-decoration: underline;
  text-decoration-color: #fef9c7;
}

/* De kleur van de hover bij de navigation bar */
li a:hover {
  background-color: #fef9c7;
  color: #FF6347;
  text-decoration: underline;
  text-decoration-color: #FF6347;
}

/* De style van de footer onderaan de tekst */
.footer {
  background-color: #FF6347;
  text-align: center;
  padding: 10px;
  margin-bottom: 0px;
}

/* Zorgt dat er mooie ruimte tussen stukken tekst zit */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* Zorgt voor 3 gelijke colums */
.column {
  float: left;
  width: 33.33%;
  padding: 20px;
}

/* Zorgt voor een mooie ruimte de colums */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* zorgt dat als je op een telefoon kijkt de colums onder elkaar komen bij een scherm met (600px beerdt of minder) */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

/* Zorgt dat de foto's naast elkaar komen te zitten */
div.gallery {
  margin: 50px;
  float: left;
  width: 400px;
}

/* Zorgt voor de grote van de plaatjes bij elkaar */
div.gallery img {
  width: 100%;
  height: auto;
}

/* Zorgt voor de style van de plaatjes */
.responsive {
  padding: 0 6px;
  float: left;
  width: 33.33333%;
}

/* Zorgt dat de plaatjes naast elkaar komen */
* {
  box-sizing: border-box;
}

/* De style van het spelletjes binary-bonanza */
.binary-bonanza{
    position: static;
    top: 1000px;
    left: 1000px;
}

.binair1{
  padding: 20px;
  float: center;
}

.videobinair{
  padding: 20px;
  float: center;
}

.binary-bonanza{
  padding: 20px;
  float: center;
}

.kleurmodellen{
  padding: 20px;
  float: center;
}

.div1 {
  height:50px;width:100%;
}

/* De kleur van de tekst */
pre  {
  color: #fef9c7;
  font-size: 20px;
  font-family: Arial;
  float: center;
}

.bv{
  padding: 20px;
  float: center;
}

.compressie{
  padding: 20px;
  float: center;
}