/* Style the header */
.header {
  background-color: #9fedd7;
  padding: 20px;
  text-align: center;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #fef9c7;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #439f76;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #fce181;
  color: #439f76;
}

h1 {
  color: #439f76;
}

h2{
  color: #439f76;
  text-align: center;
}

p  {
  color: #439f76;
}

body{
  background-color: #026670;
}

body {
  margin: 0;
}

/* Create three equal columns that float next to each other */
.column {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (600px wide or less) */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

#download.png {
  width: 200px;
  background-color: #333;
  color: white;
  padding: 10px;
  border: 1px solid black;
  position: fixed;
  top: 50px;
  left: 100px;
  }

.footer {
  background-color: #fef9c7;
  text-align: center;
  padding: 10px;
}