ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fef9c7;
}

li {
  float: left;
}

li a {
  display: block;
  color: #439f76;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #fce181;
}

body{
  background-color: #026670;
}

body {
  margin: 0;
}

.right {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  width: 400px;
  position: fixed;
  top: 200px;
  left: 300px;
}